@use '../variables';

.box__button{
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: 768px) {
            flex-wrap: wrap;
        }
}

.button{
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &--primary{
        color: #fff;
        background-color: variables.$redButton;
        border-radius: 8px;
        line-height: 32px;
    }

    @media (max-width: 768px) {
            display: block;
            width: 100%;
        }

        @media (min-width:769px) and ( max-width: 1024px) {
            font-size: 12px;
        }
}